.l-dialog-table{
	width:auto;
	tr{border:0 none}
}
	.l-dialog-border{opacity:0.5;font-size:0;padding:0;border:0 none}
		.l-dialog-border-top{height:0}
		.l-dialog-border-bottom{height:0}
		.l-dialog-border-left,.l-dialog-border-right{width:0;}
		.l-dialog-main{background:#fff;border:0 none;padding:0}
			.l-dialog-close{position:absolute;top:5px;right:5px;cursor:pointer;overflow:hidden;}
			.l-dialog-close i{font-size:20px;color:#fff;}
			.l-dialog-close-over{}
			.l-dialog-title{height:35px;line-height:35px;background:@col-dialog-title;font-size:14px;color:#fff;cursor:move;padding:0 10px}
			.l-dialog-content{padding:15px 15px 15px 65px;position:relative;word-break:break-all;word-wrap:break-word;}
				.l-dialog-icon{
					position:absolute;
					width:50px;
					height:50px;
					left:15px;
					
					.icon{font-size:50px;position:absolute;top:3px;left:0;color:@col-dialog-icon}
				}
			.l-dialog-btnWrap{height:41px;padding:0 0 15px;}
			#l-dialog-iframe{border:0}
			
	/*提示框*/
	.l-dialog-prompt{border:1px solid #949494;background:#fff;padding:15px 15px 15px 40px;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
