<div class="ui-form fn-clear">
	<label>
		<i class="ui-label ui-w400">表单1</i>
		<input class="ui-input" type="text" />
		<span class="ui-form-message"></span>
	</label>
</div>
<div class="ui-form fn-clear">
	<label>
		<i class="ui-label ui-w400">表单2</i>
		<input class="ui-input" type="text" />
		<span class="ui-form-message"></span>
	</label>
</div>
<div class="ui-form fn-clear">
	<label>
		<i class="ui-label ui-w400">表单3</i>
		<input class="ui-input" type="text" />
		<span class="ui-form-message"></span>
	</label>
</div>