.l-prompt{
    position: fixed;
    padding: 10px 20px;
    line-height: 1;
    text-align: center;
    font-size: 16px;
    .l-prompt-text{
        color: #fff;
        position: relative;
        z-index: 1;
        max-width: 500px;
        line-height: 1.5em;
    }
    .l-prompt-bg{
        opacity: 0.5;
        background: #000;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
    }
}