.l-popup{
    position fixed 
    background #fff 
    .l-popup-main {
       background #fff
    }
    .l-popup-btnWrap{
        display: block;
        text-align: center;
        padding-bottom: 20px;
        .btnItem{
            display: inline-block;
            padding: 5px 30px;
            border: 1px solid #fff;
            border-radius: 3px;
            cursor: pointer;
            &.btnItem-red{
                background-color: #d00;
                color: #fff;
                border-color: #d00;
                margin-right: 15px;
            }
            &.btnItem-white{
                background-color: #fff;
                color: #666;
                border-color: #ccc;
            }
        }
    }
    .l-popup-close{
        background url(../../img/close.png) no-repeat
        top 16px
        right @top
        width 16px
        height @width
        display block
        position absolute
        cursor pointer
    }
}