.l-dialog-table{
	width:auto;
	tr{border:0 none}
}
	/*通用对话框*/
	/*.l-dialog-border{background:#a1a1a1;opacity:0.5;font-size:0}
		.l-dialog-border-top{height:5px;border-top-left-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-right-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;}
		.l-dialog-border-bottom{height:5px;border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;}
		.l-dialog-border-left,.l-dialog-border-right{width:5px;}*/
	/*.l-dialog-main{background:#fff;border:1px solid #c1c4c9;padding:0 0 10px}
		.l-dialog-close{width:8px;height:8px;position:absolute;top:21px;right:19px;overflow:hidden;background:url(../images/l-dialog-close.gif) no-repeat;cursor:pointer;text-indent:-999em}
		.l-dialog-close-over{}
		.l-dialog-title{height:38px;line-height:35px;font-size:16px;color:#0070b6;background:url(../images/l-dialog-title.gif) repeat-x;padding:0 0 0 15px;cursor:move}
		.l-dialog-content{padding:12px 12px 12px 80px;}
			.l-dialog-alert{background:url(../images/l-dialog-alert.gif) no-repeat 20px center}
			.l-dialog-error{background:url(../images/l-dialog-error.gif) no-repeat 20px center}
			.l-dialog-warn{background:url(../images/l-dialog-error.gif) no-repeat 20px center}
			.l-dialog-confirm{background:url(../images/l-dialog-confirm.gif) no-repeat 20px center}
		.l-dialog-btn{width:100%;position:relative;text-align:center}
			.l-dialog-btnCenter{position:relative;left:50%;float:left;padding:0 0 10px;}
				.l-dialog-btnItem{float:left;margin:0 5px;position:relative;right:50%}
					.l-dialog-btnItem span{display:block;width:94px;height:31px;line-height:31px;font-size:14px;background:url(../images/l-dialog-btnItem.gif) repeat-x;text-align:center;cursor:pointer}
			.ui-sl-floatCenter .ui-btn{}
		#l-dialog-iframe{height:0;width:0}*/
	
	/*提示框*/		
	/*.l-dialog-prompt{border:1px solid #949494;background:#fff url(../images/l-dialog-alert.png) 10px center no-repeat;padding:15px 15px 15px 40px;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}*/
	.l-dialog-border{opacity:0.5;font-size:0;padding:0;border:0 none}
		.l-dialog-border-top{height:0}
		.l-dialog-border-bottom{height:0}
		.l-dialog-border-left,.l-dialog-border-right{width:0;}
		.l-dialog-main{background:#fff;border:0 none;padding:0}
			.l-dialog-close{position:absolute;top:5px;right:5px;cursor:pointer;overflow:hidden;}
			.l-dialog-close i{font-size:20px;color:#fff;}
			.l-dialog-close-over{}
			.l-dialog-title{height:35px;line-height:35px;background:@col-dialog-title;font-size:14px;color:#fff;cursor:move;padding:0 10px}
			.l-dialog-content{padding:15px 15px 15px 65px;position:relative;word-break:break-all;word-wrap:break-word;}
				.l-dialog-icon{
					position:absolute;
					width:50px;
					height:50px;
					left:15px;
					
					.icon{font-size:50px;position:absolute;top:3px;left:0;color:@col-dialog-icon}
				}
			.l-dialog-btnWrap{height:41px;padding:0 0 15px;}
			#l-dialog-iframe{border:0}
			
	/*提示框*/
	.l-dialog-prompt{border:1px solid #949494;background:#fff;padding:15px 15px 15px 40px;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
