.l-gridFree{
	position:relative;z-index:2;
	
	.fn-clear();
}
		/*loading*/
		.l-gridFree-loading{display:none;position:absolute;width:100%;height:100%;z-index:2;}
		.l-gridFree-loadingBg{position:absolute;top:0;left:0;width:100%;height:100%;.opacity(0.1);background:#555}
		.l-gridFree-loadingIco{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/l-loading.gif) no-repeat center}
		
		.l-gridFree-body{.fn-clear();}
		.l-gridFree-footer{
			.fn-clear();
		}
			.l-gridFree-footer-btn{margin:20px 0;float:left;}
			.l-gridFree-footer-page{margin:20px 0;float:right;}
			.l-gridFree-footer-select{
				float:right;margin:20px 0 20px 10px;
				.ui-select{height:32px;}
			}

	.l-gridFree-body-nullWrap{
	  	width: 150px;
		  height: 130px;
		  margin: 0 auto;
		  padding:40px 0;
		  background: url(../img/message-tips.png) no-repeat center;
		  text-indent: -999em;
		  overflow: hidden;
	}