<!DOCTYPE HTML>
<html lang="en-US">
<head>
@@include('../../common/include.html')
</head>
<body>
	<div id="demo-wrap">
		@@include('../../common/header.html')
		<div id="demo-main" class="fn-clear">
			@@include('../../common/menu.html', {"gridFree": "on", "js":"on"})
			<div id="demo-right" class="fn-right">
				<h4>调用效果</h4>
				<div id="grid" class="fn-clear"></div>
				<div id="markdown">
					@@include(markdown('./checkbox.md'))
				</div>
			</div>
		</div>
	</div>
	@@include('../../common/footer.html')
</body>
</html>
<script type="text/html" id="gridHtml" >
	<table>
		<tr>
			<th><input type="checkbox" name="all" /></th>
			<th>ID</th>
			<th>姓名</th>
			<th>email</th>
			<th>地址</th>
			<th>添加时间</th>
		</tr>
		{{each rows as item i}}
			<tr>
				<td><input 
						type="checkbox" 
						name="id[]" 
						value="{{item.id}}" 
						data-index="{{i}}" 
						{{each selectedData as selected j}}
							{{if selected.id === item.id}}
								checked="checked"
							{{/if}}
						{{/each}}
					/>
				</td>
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.email}}</td>
				<td>{{item.address}}</td>
				<td>{{item.time}}</td>
			</tr>
		{{/each}}
	</table>
</script>
<script>
	var gridFree = nic.ui.gridFree({
		template: 'gridHtml',
		wrap:'grid',
		pageAjax:{
			url: '/grid',
			success:function(data){}
		},
		before: function(){
			return gridFree.getRowSelected();
		},
		after: function(){
			var wrap        = $('#grid'),
				item        = wrap.find('input[name="id[]"]'),
				checked     = wrap.find('input[name="id[]"]:checked'),
				allCheckbox = wrap.find('input[name="all"]'),
				pageSize    = gridFree.getPageSize();

			if( checked.length === pageSize ) allCheckbox.prop('checked', true);

			item.on('change', function(){
				var that      = $(this),
					i         = Number( that.attr('data-index') ),
					isChecked = that.prop('checked');

				if( isChecked ){
					gridFree.setRowSelected( gridFree.getRowData(i) );
				}else{
					gridFree.delRowSelected( gridFree.getRowData(i) );
				}
			});

			allCheckbox.on('change', function(){
				var that      = $(this),
					isChecked = that.prop('checked');

				for (var i = 0; i < pageSize; i++) {
					if( isChecked ){
						gridFree.setRowSelected( gridFree.getRowData(i) );
						item.prop('checked', true);
					}else{
						gridFree.delRowSelected( gridFree.getRowData(i) );
						item.prop('checked', false);
					}
				};
			});
		}
	});

	
	
 

</script>