<!DOCTYPE HTML>
<html lang="en-US">
<head>
@@include('../../common/include.html')
</head>
<body>
	<div id="demo-wrap">
		@@include('../../common/header.html')
		<div id="demo-main" class="fn-clear">
			@@include('../../common/menu.html', {"grid": "on", "js":"on"})
			<div id="demo-right" class="fn-right">
				<div class="block">
					<h4>调用效果</h4>
					<h5>列统计</h5>
					<div id="gridCell"></div>
					<h5>行统计</h5>
					<div id="gridColl"></div>
				</div>
				<div id="markdown">
					@@include(markdown('./statis.md'))
				</div>
			</div>
		</div>
	</div>
	@@include('../../common/footer.html')
</body>
</html>

<script>

	var gridCell = nic.ui.grid({
		wrap:'#gridCell',
		pageAjax: {
			url: '/grid',
			data:'type=1&sex=man',
		},
		statis:[
			{display:'均值',type:'avg'},
			{display:'总计',type:'sum'},
		],
		columns: [
			{ display: '编码.', name: 'id', width: 50, statisWrap:true},
			{ display: '姓名', name: 'name', width: 50},
			{ display: '类别', name: 'type', width: 50},
			{ display: '性别', name: 'sex', width: 50},
			{ display: '电话', name: 'tel', width: 50, statisType:'avg,sum'},
			{ display: 'Email', name: 'email', width: 50},
		]
	});
	
	var gridColl = nic.ui.grid({
		wrap:'#gridColl',
		pageAjax: {
			url: '/grid',
			data:'type=1&sex=man',
		},
		statis:[
			{display:'均值',type:'avg'},
			{display:'总计',type:'sum'},
		],
		columns: [
			{ display: '编码.', name: 'id', width: 50, statisWrap:true},
			{ display: '姓名', name: 'name', width: 50},
			{ display: '类别', name: 'type', width: 50},
			{ display: '性别', name: 'sex', width: 50},
			{ display: 'Email', name: 'email', width: 50},
			{ display: '总计', width: 60, statis:true, statisType:'avg,sum'}
		]
	});
</script>