<div class="block">
	<h2>接口说明：</h2>
	<p>该功能是模拟select的形式，html部分的select相关的操作还是跟原生的一样，使用时，直接将接口type设置single即可。</p>
</div>

<div class="block">
	<h2>应用代码：</h2>
<pre>
/*html 代码*/
&lt;select id=&quot;select&quot; name=&quot;select&quot; class=&quot;ui-select&quot;&gt;
    &lt;option value=&quot;0&quot;&gt;选项1&lt;/option&gt;
    &lt;option value=&quot;1&quot;&gt;选项2&lt;/option&gt;
    &lt;option value=&quot;2&quot; selected&gt;选项3&lt;/option&gt;
    &lt;option value=&quot;3&quot;&gt;选项4&lt;/option&gt;
&lt;/select&gt;

/*js 代码*/
var select = nic.ui.select2({
	target:'select',
	type:'single'
});
</pre>
</div>

<div class="block">
	<h2>调用效果：</h2>
	<select id="select" name="select" class="ui-select">
		<option value="0">选项1</option>
		<option value="1">选项2</option>
		<option value="2" selected>选项3</option>
		<option value="3">选项4</option>
	</select> 
</div>

<script>
require(['app/main'], function(nic){

	var select = nic.ui.select2({
		target:'select',
		type:'single'
	});

});
</script>